.front-events,
.front-publications,
.front-news-mentions {
  .pane-title {
    @include clearfix;
    margin-bottom: 50px;
    text-transform: uppercase;
    &:before {
      background: url(../images/sprite.svg) no-repeat;
      content: " ";
      display: block;
      float: left;
      height: 80px;
      margin-right: 20px;
      width: 80px;
    }
    .pane-title-inner {
      display: block;
      margin-top: 16px;
    }
  }
  .more-link {
    font-size: 14px;
    font-weight: bold;
    a {
      color: $stormy-grey;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
      &:after {
        background: url(../images/sprite.svg) no-repeat -692px -41px;
        content: " ";
        display: inline-block;
        height: 17px;
        vertical-align: -4px;
        width: 15px;
      }
    }
  }
}
.front-events {
  .pane-title {
    &:before {
      background-position: -110px -210px;
    }
  }
}
.front-publications {
  .pane-title {
    &:before {
      background-position: -210px -210px;
    }
  }
}
.front-news-mentions {
  .pane-title {
    &:before {
      background-position: -310px -210px;
    }
  }
}

/**
 * frontpage top block
 */
.front-special {
  font-family: $display-font-family;
  a {
    color: white;
    display: block;
    height: 100%;
    text-decoration: none;
    text-shadow:2px 2px 0px rgba(0,0,0,0.9);
    &:hover {
      h2 {
        text-decoration: underline;
      }
    }
  }
  .pane-content {
    @include clearfix;
    padding: 0;
  }
  .views-row {
    position: relative;
    z-index: 1;
    margin-bottom: 0;
    .view-mode-special {
      @include remove-clearfix;
      .wrap-link {
        background: $funeral-grey;
        display: block;
        margin: 0;
        overflow: hidden;
        position: relative;
        @include respond-wrapper-fallback($breakpoint_2, 'lt-ie9') {
          float: left;
          height: 0!important;
        }
      }
      .field {
        margin-left: 60px;
        margin-right: 20px;
        @include respond-wrapper-fallback($breakpoint_2, 'lt-ie9') {
          margin-left: 80px;
          margin-right: 30px;
        }
        position: relative;
        z-index: 98;
      }
      .field-name-title {
        margin-left: 130px;
        @include respond-wrapper-fallback($breakpoint_2, 'lt-ie9') {
          margin-left: 60px;
        }
      }
      .field-name-topic-box-color {
        position: relative;
        float: left;
        z-index: 10;
        @include respond-wrapper-fallback($breakpoint_2, 'lt-ie9') {
          float: none;
          position: static;
        }
      }
      .topic-box-color {
        background: $funeral-grey url(../images/sprite.svg) no-repeat;
        content: " ";
        display: inline-block;
        height: 45px;
        left: 0;
        top: 50%;
        width: 50px;
        z-index: 88;
        @include respond-wrapper-fallback($breakpoint_2, 'lt-ie9') {
          position: absolute;
          margin-top: -22px;
        }
        .lt-ie9 & {
          background-image: url(../images/sprite.png);
        }

      }
      &.node-blog-post {
        .topic-box-color {
          background-position: -24px -27px;
        }
      }
      &.node-book {
        .topic-box-color {
          background-position: -224px -27px;
        }
      }
      &.node-events {
        .topic-box-color {
          background-position: -124px -27px;
        }
      }
      h2 {
        font-size: 16px;
        @include respond-wrapper-fallback($breakpoint_2, 'lt-ie9') {
          font-size: 18px;
        }
      }
      .field-type-image {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
        right: 0;
        top: 0;
        z-index: 1;
      }
      .field-type-date,
      .field-name-post-date {
        font-size: 14px;
        @include respond-wrapper-fallback($breakpoint_2, 'lt-ie9') {
          font-size: 16px;
          margin-top: 10%;
        }
      }
    }
  }
  .views-row-1,
  .views-row-3 {
    .view-mode-special {
      .wrap-link {
        padding: 10% 0;
        @include respond-wrapper-fallback($breakpoint_1, 'lt-ie9') {
          width: 50%;
          float: left;
          clear: both;
        }
        @include respond-wrapper-fallback($breakpoint_2, 'lt-ie9') {
          padding-top: 0;
          clear: none;
        }
      }
    }
  }
  .views-row-2,
  .views-row-4 {
    .view-mode-special {
      .wrap-link {
        padding: 10% 0;
        @include respond-wrapper-fallback($breakpoint_1, 'lt-ie9') {
          width: 50%;
          float: right;
        }
        @include respond-wrapper-fallback($breakpoint_2, 'lt-ie9') {
          padding-top: 0;
        }
      }
    }
  }
  .views-row-1 {
    .view-mode-special {
      .wrap-link {
        @include respond-wrapper-fallback($breakpoint_2, 'lt-ie9') {
          padding-bottom: 42%;
          width: 50%;
        }
      }
      .field-type-date,
      .field-name-post-date {
        @include respond-wrapper-fallback($breakpoint_2, 'lt-ie9') {
          font-size: 18px;
          margin-top: 30%;
        }
      }
      @include respond-wrapper-fallback($breakpoint_2, 'lt-ie9') {
        .topic-box-color {
          height: 65px;
          margin-top: -32px;
          width: 72px;
        }
        &.node-blog-post {
          .topic-box-color {
            background-position: -14px -118px;
          }
        }
        &.node-book {
          .topic-box-color {
            background-position: -214px -118px;
          }
        }
        &.node-events {
          .topic-box-color {
            background-position: -114px -118px;
          }
        }
        h2 {
          font-size: 24px;
        }
        .field {
          @include respond-wrapper-fallback($breakpoint_2, 'lt-ie9') {
            margin-left: 114px;
          }
        }
        .field-type-image {
          @include respond-wrapper-fallback($breakpoint_2, 'lt-ie9') {
            margin-left: 0;
          }
        }
      }
    }
  }

  .views-row-2 {
    .view-mode-special {
      .wrap-link {
        @include respond-wrapper-fallback($breakpoint_2, 'lt-ie9') {
          padding-bottom: 19%;
          width: 50%;
        }
      }
      .field-type-date,
      .field-name-post-date {
        @include respond-wrapper-fallback($breakpoint_2, 'lt-ie9') {
          margin-top: 8%;
        }
      }
      .field-type-image {
        img {
          @include respond-wrapper-fallback($breakpoint_2, 'lt-ie9') {
            margin-top: -22%;
          }
        }
      }
    }
  }
  .views-row-3 {
    .view-mode-special {
      .wrap-link {
        @include respond-wrapper-fallback($breakpoint_2, 'lt-ie9') {
          margin-left: -8%;
          padding-bottom: 25%;
          width: 28%;
        }
      }
      .field-type-date,
      .field-name-post-date {
        @include respond-wrapper-fallback($breakpoint_2, 'lt-ie9') {
          margin-top: 26%;
        }
      }
      .field-type-image {
        img {
          height: auto;
          width: 108%;
        }
      }
    }
  }
  .views-row-4 {
    .view-mode-special {
      .wrap-link {
        @include respond-wrapper-fallback($breakpoint_2, 'lt-ie9') {
          padding-bottom: 20%;
          width: 30%;
        }
      }
      .field-type-date,
      .field-name-post-date {
        @include respond-wrapper-fallback($breakpoint_2, 'lt-ie9') {
          margin-top: 15%;
        }
      }
      .field-type-image {
        img {
          height: auto;
          margin-top: -8%;
          width: 100%;
        }
      }
    }
  }
}

/**
 * Current topics
 */

.front panel-col-top h2.pane-title {
  font-size: 2em;
  text-align: center;
}

/**
 * about block
 */
.pane-node {
  .pane-title {
    font-size: 30px;
    margin: 65px auto 55px;
    text-align: center;
    text-transform: uppercase;
    &:before {
      background: url(../images/sprite.svg) no-repeat -400px -100px;
      content: " ";
      display: block;
      height: 100px;
      left: 0;
      margin-left: 10%;
      position: absolute;
      top: -33px;
      width: 100px;
      .lt-ie9 & {
        background-image: url(../images/sprite.png);
      }
    }
    .pane-title-inner {
      position: relative;
      z-index: 2;
    }
  }
  .field-name-body {
    color: $stormy-grey;
    line-height: 2;
    text-align: center;
    position: relative;
    z-index: 1;
    @include respond-wrapper-fallback($breakpoint_2, 'lt-ie9') {
      font-size: 18px;
    }
    &:after {
      background: url(../images/sprite.svg) no-repeat -400px -100px;
      content: " ";
      display: block;
      height: 100px;
      right: 0;
      margin-right: 1%;
      position: absolute;
      bottom: -100px;
      width: 100px;
      z-index: -1;
    }
  }
  .group-wrap2 {
    margin: 120px auto 30px;
    @include respond-wrapper-fallback($breakpoint_2, 'lt-ie9') {
      max-width: 55%;
    }
    .field-name-field-share {
      padding-left: 0;
      @include respond-wrapper-fallback($breakpoint_1, 'lt-ie9') {
        width: 40%;
      }
      a {
        padding: 0 10px;
        width: 60px;
      }
    }

    .field-name-node-link {
      border-left: 1px solid white;
      @include respond-wrapper-fallback($breakpoint_1, 'lt-ie9') {
        width: 60%;
        float: right;
      }
      a {
        font-family: $display-font-family;
        font-size: 30px;
        padding: 0 20px;
        text-align: left;
        width: 100%;
        &:after {
          background: url(../images/sprite.svg) no-repeat -686px -588px;
          content: ' ';
          display: inline-block;
          height: 29px;
          margin-left: 35px;
          position: relative;
          vertical-align: -9px;
          width: 29px;
          .lt-ie9 & {
            background-image: url(../images/sprite.png);
          }
        }
        &:hover {
          background: linear-gradient(to bottom, $base-text-color 0%, #323232 100%);
        }
      }
    }

  }
}
