.view-mode-highlighted_list {
  @include remove-clearfix;
  .field-name-field-topic,
  .field-type-node-reference {
    color: $funeral-grey;
    font-size: 16px;
  }
  .field-type-node-reference {
    .field-item {
      display: inline;
      margin-right: 0.25em;
      &:after {
        content: ",";
      }
      &:last-child {
        &:after {
          content: "";
        }
      }
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .field-name-title {
    h3 {
      margin-bottom: 0;
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .topic-box-color {
    background: $funeral-grey url(../images/sprite.svg) no-repeat;
    content: " ";
    display: inline-block;
    float: left;
    height: 65px;
    margin-right: 20px;
    width: 72px;
    .lt-ie9 & {
      background-image: url(../images/sprite.png);
    }
  }

  &.node-blog-post,
  &.node-book,
  &.node-events {
    .field-name-title {
      padding-top: 5px;
       h3 {
        font-size: 30px;
      }
    }
  }
  &.node-blog-post {
    .topic-box-color {
      background-position: -14px -118px;
    }
  }
  &.node-book {
    .topic-box-color {
      background-position: -214px -118px;
    }
  }
  &.node-events {
    .topic-box-color {
      background-position: -114px -118px;
    }
  }

  &.node-profile {
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    h3, h2 {
      font-family: $base-font-family;
      font-size: 20px;
      margin-bottom: 0.25em;
      a {
        text-decoration: none;
         &:hover {
          text-decoration: underline;
        }
      }
    }
    .field-name-profile-function-organisation {
      color: $funeral-grey;
      font-size: 20px;
      &:after {
        border-bottom: 2px solid $windy-grey;
        content: " ";
        display: block;
        margin: 10px 0;
        width: 55px;
      }
    }
    .field-name-taxonomy-vocabulary-3 {
      font-size: 14px;
      a {
        color: $funeral-grey;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  > .field {
    margin-left: 96px;
    &.field-name-topic-box-color {
      margin-left: 0;
    }
  }

}
